---
docker_username: username
docker_password: password
projects:
  - name: my_repo
    url: https://github.com/example/my_repo
    branch: master
    tag: latest
ssh_key: |
  -----BEGIN RSA PRIVATE KEY-----
  MY_KEY_CONTENTS
  -----END RSA PRIVATE KEY-----
